.selector-for-some-widget {
  box-sizing: content-box;
}

* {
  padding: 0;
  margin: 0;
}

/* start hero section */
.hero {
  height: 100vh;
}

.judul h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 96px;
}

.hero .row {
  position: relative;
  z-index: 9;
}

.hero .judul a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px 32px;
  border-radius: 30px;
  font-weight: bold;
}

.judul .btn-danger {
  margin-right: 24px;
}

.judul p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #717171;
}

section .svg-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

/* HERO section akhir */

/* start navbar */
.navbar div ul li {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.navbar .navbar-brand {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  gap: 48px;
  margin: auto;
  padding: 14px 48px;
}

.navbar ul li:hover {
  color: #393e46;
}

.menu-toggle {
  display: none;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
  width: 100%;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: #dc3545;
  transition: all 0.5s;
  margin-bottom: 7px;
}

/* humburger animasi */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #dc3545;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-43deg);
  background-color: #dc3545;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  scale: 0;
}

/* end navbar */

/* start about me */

section.me {
  /* height: 100vh; */
  padding-top: 80px;
  position: relative;
}

.me .content .lg-img {
  width: 100px;
  position: absolute;
  top: 50px;
}
.me .content .lk-img {
  width: 100px;
  position: absolute;
  bottom: -20px;
}

section.me h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #4d4d4d;
}

section.me p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #717171;
}

section.me .p-img {
  height: 500px;
  background-color: #dc3545;
  border-radius: 35%;
  overflow: hidden;
  opacity: 0.7;
  transition: 1s;
}

section.me .p-img:hover {
  opacity: 1;
}

section.me div img {
  width: 400px;
}

section.me .container {
  gap: 18px;
}
section.me .container .content {
  gap: 5px;
}

/* end about me */

/* start section idn */

section.idn {
  padding: 32px 0;
  /* background-color: rgba(220, 53, 69, 0.5); */
  margin-top: 100px;
}

.idn .container {
  gap: 56px;
}

.idn .container div h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #4d4d4d;
}

.idn .container .col-4 {
  width: 326px;
  height: 326px;
  border-radius: 20px;
  background-color: rgba(220, 53, 69, 1);
}

.idn .container .col-4 img {
  width: 326px;
  height: 326px;
  overflow-y: hidden;
}

.idn .container .col p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #717171;
  text-align: justify;
}

.idn .container .col p.ct-2 {
  color: #89939e;
}

.idn .container .col h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.idn .container .row {
  width: 100%;
}

.container .col .row .one {
  gap: 35px;
}

.container .col .row .one span {
  width: 30%;
  display: flex;
  margin: auto;
}

.container .col .row span img {
  width: 100%;
}
/* end section idn */

/* start urna */
section.urna {
  margin-top: 80px;
}

.urna .container {
  gap: 55px;
}
.urna .container p {
  color: #717171;
}

.urna .container .row {
  gap: 16px;
}

.urna .container .col .u-judul h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 49px;
  color: #4d4d4d;
}

.urna .container .col .u-judul p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.urna .container .col .u-2 {
  flex-direction: row;
  justify-content: space-evenly;
  height: 98px;
  text-align: center;
}
.urna .container .col .u-2 span {
  width: 55px;
}

.urna .container .u-2 span img {
  width: 100%;
}

.urna .container .dua-2 {
  gap: 40px;
}

.urna .container .dua-2 .u-judul {
  gap: 8px;
}

.urna .container .dua-2 .u-judul h2 {
  width: 542px;
  margin: auto;
}

section.urna .container .dua-2 .col:nth-child(2) {
  justify-content: space-around;
}

.urna .container .dua-2 .tujuan {
  padding: 24px 32px;
  width: 299px;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.urna .container .dua-2 .tujuan .sh-col {
  gap: 8px;
}

.urna .container .dua-2 .tujuan .p-col {
  width: 251px;
}

.urna .container .dua-2 .tujuan span {
  width: 65px;
  height: 55px;
  /* background-color: rgba(220, 53, 69, 0.3); */
  margin: auto;
}
.urna .container .dua-2 .tujuan span img {
  width: 48px;
  height: 48px;
}

.urna .container .dua-2 .col .row h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #4d4d4d;
}

.urna .container .dua-2 .col .row p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* end urna */

/* START CONTACT */
section.ct {
  margin-top: 80px;
  height: 100vh;
  display: flex;
  position: relative;
}

.ct .container .col-satu {
  background-image: url(font/dools.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ct .container .col-satu h2 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #222831;
}
.ct .container .col-satu h2 span {
  color: #dc3545;
}

.ct .container .col .inp {
  gap: 24px;
}

.ct .container .col-dua {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #222831;
}

.ct .container .col-dua .form-control {
  background-color: #dc3545;
}

.ct .container .col-dua input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.ct .container .col-dua textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.ct .container .col-dua form button {
  width: 50%;
  color: #eee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 20px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ct img.bb {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
/* END CONTACT */

/* START FOOTER */
footer.container-fluid {
  margin-top: 80px;
  background-color: #393e46;
  color: white;
}

footer .container {
  padding: 40px 0;
}

footer .container .row {
  gap: 38px;
}

.container .col-1 {
  gap: 48px;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.container .col-1 span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 8px;
}
.container .col-1 span img {
  width: 16px;
  height: 16px;
  margin: auto;
}

.container .col-2 {
  gap: 24px;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.container .col-2 span {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #717171;
}

.container .col-2 span a {
  display: flex;
}

.container .col-2 span a img {
  width: 16px;
  height: 16px;
  margin: auto;
}

.container .col-2 span.gt a img {
  width: 24px;
  height: 24px;
  margin: auto;
}

div.akhir {
  display: flex;
  margin: auto;
  padding: 24px;
  color: white;
}

div.akhir p {
  color: rgba(238, 238, 238, 0.75);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
}
/* END FOOTER */

/* RESPONSIVE */
@media (max-width: 1200px) {
  .me .content .lk-img {
    bottom: -50px;
  }

  .urna .container .dua-2 .tujuan {
    width: 249px;
  }
}

@media (max-width: 1031px) {
  .judul h1 {
    font-size: 9vmax;
  }
}

/* Menyusut ul nya */
@media (max-width: 991px) {
  .menu-toggle {
    display: block;
  }

  .navbar ul {
    position: absolute;
    right: 0;
    bottom: 0;
    top: -10px;
    flex-direction: column;
    height: 220px;
    justify-content: space-evenly;
    width: 100%;
    z-index: -2;
    transition: all 1s;
    opacity: 0;
    margin-top: 75px;
    background-color: #fff;
    transform: translateY(-100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .navbar ul.slide {
    transform: translateY(0);
    opacity: 1;
  }

  /* start about me */
  section.me div.container {
    gap: 24px;
    flex-direction: column;
  }

  section.me .p-img {
    width: 400px;
    height: 200px;
    margin: auto;
  }
  section.me .p-img img {
    top: 0;
  }

  .me .content .lg-img {
    top: 50px;
    right: 40px;
  }
  .me .content .lk-img {
    bottom: 300px;
  }

  /* end aboutme */

  /* start idn */
  .idn .container {
    flex-direction: column;
    gap: 25px;
  }

  .idn .container .col-4 {
    width: 100%;
  }

  .idn .container .col-4 img {
    margin: auto;
    display: flex;
  }
  /* end idn */

  /* start urna */
  .urna .container .dua-2 .tujuan {
    gap: 0px;
  }
  .urna .container .dua-2 .tujuan .sh-col {
    gap: 0px;
  }

  .urna .container .dua-2 .tujuan {
    width: 209px;
  }

  section.urna .container .dua-2 .col:nth-child(2) {
    justify-content: space-between;
  }

  .urna .container .dua-2 .col .row h3 {
    font-size: 20px;
    line-height: normal;
  }
  /* end urna */

  footer.container-fluid {
    margin-top: 0;
  }

  section.ct {
    height: auto;
    padding: 70px 0;
    /* background-color: aqua; */
    margin-top: 50px;
  }

  .ct img.bb {
    left: 50px;
  }
}

@media (max-width: 885px) {
  .header {
    max-width: 550px;
  }
  .judul h1 {
    font-size: 8vmax;
  }

  .me .content .lg-img {
    top: 50px;
    right: 30px;
  }

  /* start idn */
  .idn .container div h2 {
    font-size: 8vmax;
  }

  .container .col .row .one {
    gap: 15px;
  }

  .container .col .row .one span {
    width: 40%;
  }
  /* end idn */

  /* start urna */
  .urna .container .satu-1 .u-2 {
    justify-content: space-between;
  }

  .urna .container .dua-2 .tujuan {
    gap: 8px;
  }

  .urna .container .dua-2 .u-judul {
    width: 100%;
    gap: 8px;
  }

  .urna .container .dua-2 .u-judul h2 {
    width: 100%;
  }

  .urna .container .dua-2 .u-judul p {
    font-size: 14px;
  }

  .urna .container .dua-2 .tujuan {
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  section.urna .container .dua-2 .cd-2 {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .urna .container .dua-2 .tujuan .p-col {
    margin: auto;
  }

  .urna .container .dua-2 {
    gap: 30px;
  }
  /* end urna */

  /* start contact */
  .ct .container {
    flex-direction: column;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .ct .container .col-satu {
    margin: auto;
    /* background-color: green; */
    text-align: center;
  }

  .ct .container .col-dua {
    align-items: center;
    justify-content: center;
  }

  .ct img.bb {
    top: 50px;
  }
  /* end contac */
}

@media (max-width: 580px) {
  .judul p {
    font-size: 14px;
  }

  .me .content h1 {
    font-size: 36px;
  }

  section .button-judul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #393e46; */
  }

  .button-judul .btn-danger {
    margin: auto;
  }

  .button-judul .btn-outline-secondary {
    margin: auto;
  }

  .me .content .lg-img {
    top: -0px;
    right: 20px;
    opacity: 0.5;
  }
  .me .content .lk-img {
    bottom: 350px;
    opacity: 0.3;
  }

  /* start idn */
  .idn .container div h2 {
    font-size: 36px;
    line-height: 37px;
    font-family: "Inter", sans-serif;
  }

  .container .col .row .one {
    gap: 7px;
  }
  /* end idn */

  .urna .container .col .u-judul h2 {
    font-size: 36px;
    line-height: 37px;
  }

  .container .col-1 {
    gap: 48px;
    margin: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .ct .container .col-satu h2 {
    font-size: 36px;
    line-height: 37px;
  }
  .ct .container .col-dua form button {
    width: 60%;
    padding: 5px 16px;
  }

  .ct img.bb {
    left: 50px;
    top: 40px;
  }
}
